extends layout

block content
	.container-fluid
		.row
			.col-2.align-items-center.mt-5
				p
					a(href="/user") Profile
				if user.membership == 'author'
					p
						a(href="/user/all") All members
				hr
				p
					a(href="/post/manage") Manage posts

			.col.p-4
				form.container.mx-6.p-4.border.border-danger.border-3.rounded-4(method="post")
					.form-group.my-2
						label.form-label Old password
						input.form-control(type="password" name="oldPassword" required)

					.form-group.my-2
						label.form-label New password
						input.form-control(type="password" name="password" required)

					.form-group.my-2
						label.form-label Confirm new password
						input.form-control(type="password" name="confirm-password" required)
					
					.mt-2
						div
							a.btn.btn-success.my-2(href="/user/dashboard") Return to profile
						button.btn.btn-outline-danger.my-2.py-2 Update Passord

					if errors
						hr
						ul
							for error in errors
								li= error.msg
				